body {
    font-family: 'Arial', sans-serif;
}

.sidebar {
    height: 100vh;
    position: fixed;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card-header {
    font-size: 1.25rem;
    font-weight: bold;
}

.list-group-item {
    font-size: 1rem;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

h1.h2 {
    font-size: 2rem;
    font-weight: bold;
}
